.botonLogin {
    /* Green_primary */
    background: #0ED28C;
    border-radius: 5px;
}

.linkverde {
    color: #0ED28C;
}

.linkverde:hover {
    color: #0ED28C;
}

.linkverde:active {
    color: #0ED28C;
}
