<form>
    <div class=" col-12 p-0 w-100">
        <div class="form-group d-flex flex-row row p-0 m-0   justify-content-between">
            <div class="form-group row d-flex flex-column col-3 -0">
                <label for="select" class="col-form-label mb-1 mt-1">DISPONIBILIDAD</label>
                <div class="w-100">
                    <select id="disponibilidad" (change)="actualizarExperto()" [(ngModel)]="this.expertDetail.disponibilidad" name="disponibilidad" class="form-control">
        <option value="morning" [selected]="this.expertDetail.disponibilidad == 'morning'">Mañanas</option>
        <option value="tardes" [selected]="this.expertDetail.disponibilidad == 'tardes'">Tardes</option>
        <option value="todo" [selected]="this.expertDetail.disponibilidad == 'todo'">Todo el día</option>
      </select>
                </div>
            </div>
            <div class="form-group row d-flex flex-column col-3 m-0">
                <label for="estado" class=" col-form-label">ESTADO</label>
                <div class="w-100">
                    <select id="estado" (change)="actualizarExperto()" [(ngModel)]="this.expertDetail.estado" name="estado" class="form-control">
                    <option value="pendiente" [selected]="this.expertDetail.estado == 'pendiente'">Pdte. Validar</option>
                    <option value="validado" [selected]="this.expertDetail.estado == 'validado'">Validado</option>
                    <option value="todos" [selected]="this.expertDetail.estado == 'todos'">Todos</option>
                  </select>
                </div>
            </div>
            <div class="form-group row d-flex flex-column m-0">
                <label class=" mb-1 mt-1 col-form-label" for="valoracion">VALORACION</label>
                <div class="w-100">
                    <input id="valoracion" (change)="actualizarExperto()" name="valoracion" [(ngModel)]="this.expertDetail.puntuacion" type="number" class="form-control">
                </div>
            </div>
            <div class="form-group row d-flex flex-column col-3 m-0">
                <label for="origen" class=" mb-1 mt-1 col-form-label">ORIGEN</label>
                <div class="w-100">
                    <select id="origen" (change)="actualizarExperto()" [(ngModel)]="this.expertDetail.origen" name="origen" class="form-control">
                      <option value="recursos humanos" [selected]="this.expertDetail.origen == 'recursos humanos'">Recursos Humanos</option>
                      <option value="Infojobs" [selected]="this.expertDetail.origen == 'Infojobs'">Infojobs</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group row m-0 mt-5">
            <div class="col-6 m-0 p-0">
                <div class="row w-100">
                    <div class=" m-0 p-0 offset-2 col-12">
                        <div class="row w-100 pl-5 mt-3 mb-3">
                            <label for="telefono" class="col-6 text-left">Telefono</label>
                            <p (click)="visibletelefono()" class="col-6 text-left" name="telefono" *ngIf="this.telefonovisible===false">{{this.expertDetail.contacto_telefono}}</p>
                            <input *ngIf="this.telefonovisible" name="telefono" class="col-6 text-left" type="number" [(ngModel)]="this.expertDetail.contacto_telefono" (mouseleave)="visibletelefono()" (mouseleave)="actualizarExperto()">
                        </div>


                        <div class="row w-100 pl-5  mt-3 mb-3">
                            <label for="email" class="col-6 text-left">Correo</label>
                            <p (click)="visibleemail()" class="col-6 text-left" name="email" *ngIf="this.emailvisible===false">{{this.expertDetail.contacto_email}}</p>
                            <input *ngIf="this.emailvisible" name="email" class="col-6 text-left" type="text" [(ngModel)]="this.expertDetail.contacto_email" (mouseleave)="visibleemail()" (mouseleave)="actualizarExperto()">
                        </div>

                        <div class="row w-100 pl-5 mt-3 mb-3">
                            <label for="direccion" class="col-6 text-left">Direccion</label>
                            <p (click)="visibledireccion()" class="col-6 text-left" name="direccion" *ngIf="this.direccionvisible===false">{{this.expertDetail.contacto_ciudad}}</p>
                            <input *ngIf="this.direccionvisible" name="direccion" class="col-6 text-left" type="text" [(ngModel)]="this.expertDetail.contacto_ciudad" (mouseleave)="visibledireccion()" (mouseleave)="actualizarExperto()">
                        </div>

                    </div>
                    <div class="row w-100 pl-5 mt-3 mb-3">
                        <div class="col-2 text-left">CV</div>
                        <div class="offset-1 col-9 d-flex flex-row justify-content-between">
                            <button type="button" (click)="downloadPDF()" class="btn btn-success">Descargar PDF</button>
                            <button type="button" (click)="verPDF()" class="btn btn-success">Visualizar PDF</button>
                            <label for="customFile" id="labelfile" class="btn btn-success">Subir archivo</label>
                            <input type="file" class="btn btn-success " id="customFile" (change)="showPreviewCv($event)" />
                        </div>
                    </div>
                    <div class="row w-100 pl-5 mt-3 mb-3">
                        <label for="linkedin" class="col-6 text-left">Linkedin</label>
                        <p (click)="visiblelinkedin()" class="col-6 text-left" name="linkedin" *ngIf="this.linkedinvisible===false">{{this.expertDetail.contacto_linkedin}}</p>
                        <input *ngIf="this.linkedinvisible" name="linkedin" class="col-6 text-left" type="text" [(ngModel)]="this.expertDetail.contacto_linkedin" (mouseleave)="visiblelinkedin()" (mouseleave)="actualizarExperto()">
                    </div>
                </div>
            </div>
            <div class="col-6 m-0 p-0">
                <div class="form-group row d-flex flex-column mb-5">
                    <label for="etiquetas" class="col-2  offset-1 col-form-label">ETIQUETAS</label>
                    <div class="col-10 offset-1">
                        <input id="etiquetas" (change)="actualizarExperto()" name="etiquetas" placeholder="Añadir Etiquetas" type="text" class=" input-group-lg" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event)">
                    </div>
                </div>
                <div class="col-10 offset-1">
                    <mat-form-field class="example-chip-list">
                        <mat-label>Etiquetas</mat-label>
                        <mat-chip-list #chipList aria-label="Fruit selection">
                            <mat-chip *ngFor="let fruit of this.expertDetail.tagList" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit)">
                                {{fruit.nombre}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</form>
