<section class="m-0 pr-4 pl-4">
    <form [formGroup]="loginForm" (submit)="login()" class="card-login-content w-100 p-4">
        <div class="inputs-container">
            <div class="input-container-username">
                <div class="text-email">
                    <span>Email</span>
                </div>
                <input class="form-control" formControlName="email" placeholder="Introduce email" [class.is-invalid]="emailInvalido" />
                <small *ngIf="emailInvalido" class="text-danger">
          Introduce un email valido
        </small>
            </div>

            <div class="password-container">
                <div class="input-container-password">
                    <div class="text-password">
                        <span>Password</span>
                    </div>
                    <input class="form-control" formControlName="password" placeholder="Introduce password" [class.is-invalid]="passInvalido" />
                    <small *ngIf="passInvalido" class="text-danger">
            password requerida
          </small>
                </div>
            </div>

            <div class="mt-2 mb-2">
                <a class="colorVerde enlaceolvido" (click)="openDialog()">Has olvidado la contraseña?</a
        >
      </div>
    </div>

    <div class="btn-container-inicio-sesion mt-4">
      <small
        *ngIf="loginForm.invalid && this.formuVal"
        class="text-danger text-right"
      >
        Rellene lo campos primero
      </small>
      <div>
        <div
          class="text-nuevo-usuario mr-2 d-flex flex-row justify-content-between row"
        >
          <div>
            Nuevo usuario?
            <a [routerLink]="['/registro']" class="linkverde">Crear Cuenta</a>
            </div>
            <button type="submit" (click)="this.formuVal = true" class="botonLogin textlologin">
            Inicio sesión
          </button>
        </div>
        <div class="row m-5">
            <ul class="mt-5">
                <li>Datos de prueba,si no quieres registrarte</li>
                <li>Usuario=>salvi@gmail.com</li>
                <li>password=>salvi</li>
            </ul>
        </div>
        </div>
        </div>
    </form>
</section>
