<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/expertos']">Expertos</a>
            <a mat-list-item [routerLink]="['/etiquetas']">Etiquetas</a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar *ngIf="(pagActisEtiquetasPage())">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <div class="d-flex flex-column">
                <h2>Lista de Etiquetas</h2>
                <span>{{totalTags}} Etiquetas</span>
            </div>
        </mat-toolbar>
        <mat-toolbar *ngIf="(!pagActisEtiquetasPage())">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
            <div class="d-flex flex-column">
                <h2>Lista de Expertos</h2>
                <span>{{totalExper}} Candidatos</span>
            </div>

        </mat-toolbar>
        <section class="">
            <router-outlet *ngIf="mostrarNav()"></router-outlet>


        </section>

    </mat-sidenav-content>


</mat-sidenav-container>