.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

mat-sidenav-content {
    overflow-x: hidden;
}

mat-toolbar {
    background-color: white;
    min-height: 100px;
}

nav {
    background-color: white;
}

.breadcrumb {
    background-color: white;
    margin-left: 10px;
}

ol li {
    font-size: 16px;
}