<div class="col-10 offset-1">
    <div class="row w-100">

        <div class="col-12 mt-5">
            <label for="observaciones" class="form-label">Observaciones</label>
            <input class="form-control form-control-lg" name="observaciones" type="text" placeholder="Escribe algo..." aria-label=".form-control-lg example">
        </div>

        <div class="col-2  m-0 mt-5">
            <label for="formFile" class="form-label">Default file input example</label>
            <select class="custom-select  form-select-lg p-0  w-100 " id="inputGroupSelect01">
            <option value="otros">Otros</option>
            <option value="incompetencia">100</option>
            <option value="formacion">95</option>
            <option value="90">90</option>
            </select>
        </div>
        <div class="col-8 offset-1 mt-5">

            <label for="motivo" class="form-label">Especifica el motivo</label>
            <input class="form-control form-control-lg" name="motivo" type="text" placeholder="Escribe algo..." aria-label=".form-control-lg example">

        </div>



    </div>
</div>